h1{
    text-align: center;
}

hr{
    border-color: rgb(83, 69, 238);
}


.formulario {
    margin: auto;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: darkcyan;
    padding: 2%;
}
.aprobado{
    background-color: green;

}
.desaprobado {
    background-color: red;
}